@import "./reset.scss";
@import "./default.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
}

.left {
  width: 80%;
  display: flex;
}

.logo{
  width: 30%;
  height: 70px;
  background-position: center;
  background-image: url("../assets/images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.main-content, .right, .profile-link {
  display: flex;
}

.right{
  width: 20%;
  padding-right: 20px;
}

.profile-link{
  justify-content: flex-end;
  width: 100%;
}

.profile-link span{
  padding: 25px 10px;
  font-weight: 600;
}

.icon{
  margin: 25px 5px;
  width: 22px;
  height: 22px;
}

.arc.hover g.excluded text {
  fill: #ccc;
}

.arc.hover g.primary text {
  fill: black;
  font-weight: bold;
}

.arc.hover g.secondary text {
  fill: #222;
}


.force hover g.primary text {
  fill: #fff;
  font-weight: bold;
}

.force.hover g.secondary text {
  fill: #ccc;
}

.right-content {
  width: 40%;
  padding: 0 20px;
}

.right-content h2{
  font-size: 24px;
  font-weight: bold;
}

.instructions{
  width: 100%;
  display: none;
}

.instructions h2 {
  font-size: 24px;
}

.instructions p {
  margin-top: 8px;
  line-height: 1.5;
  text-align: justify;
}
.instructions.show{
  display: block;
}


#filter-form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

#filter-form h2 {
  display: block;
  width: 100%;
}

#filter-form div{
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  width: 33%;
}

.normal-checkbox, .special-checkbox{
    position: relative;
    top: 3px;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    -o-transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    -webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
    -webkit-transition-delay: 0s, 0s;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    background-color: white;
    border: 1px solid #757575;
    border-radius: 2px; 
}

.normal-checkbox:checked{
  background-color: #40d9ac;
  border-color: #3cc69e;
}

.normal-checkbox:checked::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: white;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  bottom: -5px;
  left: -1px;
}

.normal-label{
  padding-left: 6px;
  cursor: pointer;
}

.infoBox{
  // border: solid 2px blue;
  margin-bottom: 30px;
}


.select-box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  margin-top: 20px;
}

.select-box select option {
  padding: 30px;
}