svg {
  background-color: rgba(0,0,0.3);
}
/* 
.hover path {
  stroke: #555;
}

.hover text {
  fill: #555;
} */

.hover g.primary text {
  fill: #fff;
  font-weight: bold;
}

.hover g.secondary text {
  fill: #ccc;
}