.navbar {
  width: 100%;
  display: flex;
}


/* 
.hover path {
  stroke: #555;
}

.hover text {
  fill: #555;
} */

.main-content {
  display: flex;
}
.arc.hover g.excluded text {
  fill: #ccc;
}

.arc.hover g.primary text {
  fill: black;
  font-weight: bold;
}

.arc.hover g.secondary text {
  fill: #222;
}


.force hover g.primary text {
  fill: #fff;
  font-weight: bold;
}

.force.hover g.secondary text {
  fill: #ccc;
}

.right {
  width: 40%;
}

.instructions{
  width: 100%;
  display: none;
}

.instructions.show{
  display: block;
}


form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  height: 500px;
}

form h2 {
  display: block;
  width: 100%;
}

label {
  width: 30%;
}